.main-button{
  width: 470px;
  padding: 20px 30px;
  background: rgb(71, 71, 72);
  color: aliceblue;
  border: none;
  border-radius: 5px;

}
.primary-button{
  background-color:rgb(31, 39, 245);
}
.secondary-button{
  background-color: rgb(4, 64, 4);

}